<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">12 голосів</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                12 треків – це запис кожного з 12 голосів хору "Аскольд" церкви св. Миколая Чудотворця на Аскольдовій̆ могилі у місті Києві, які співають "Щедрик", композитора Миколи Леонтовича. Для того, щоб проявити складний механізм хорового співу - ми записали композицію  саме в такий спосіб. Окремий голос звучить самотньо, деякі треки починаються з тиші, іноді голос раптово перестає звучати, чекаючи свого моменту. Коли ж ми слухаємо всі 12 голосів цілісно - то не помічаємо цих нюансів. Але якщо прибрати хоча б один з 12 голосів, то ця втрата відразу відчувається. Ціле не існує без окремого і навпаки.
                Відвідувачі алеї зможуть колективно послухати композицію. Долучаючись більшою кількість осіб - ми зможемо чути більш цілісний твір, а щоб почути весь хор - потрібно, щоб 12 людей зібралися разом і кожен обрав будь-який з доступних 12 треків. Згодом буде можливість послухати оригінальний повний твір, в одному записі - всі 12 голосів.
                Робота присвячена Українській хоровій школі.
                <br /><br /><br />
                      <i>
                          Автори роботи <b>Анна Звягінцева</b> і <b>Юрій Чернявський</b>
                          <br /><br />
                          Анна Звягінцева - київська художниця, працює з абсолютно різними медіа: від інсталяції до живопису.
                          Юрій Чернявський - скульптор, реставратор та 3д художник зі Львова. Здебільшого працює із об’єктами в просторі міста
                      </i>
            </div>
            
            
        </div>
    </div>
</div>