@{ 
    Layout = null; 
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Player</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/music.css" />
</head>
<body>
    <div id="player" class="player">
        <div class="cover">
            <img src="/files/alley.jpg" alt="">
        </div>
        <div id="state" style="display: none;">
        </div>
        <div class="music-list">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/music.js" asp-append-version="true"></script>
</body>
</html>